Cndb/Connected Services/WsApiexamen/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Modelo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Modelo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOftblExaman">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblExaman" nillable="true" type="tns:tblExaman" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblExaman" nillable="true" type="tns:ArrayOftblExaman" />
  <xs:complexType name="tblExaman">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idExample" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblExaman" nillable="true" type="tns:tblExaman" />
</xs:schema>